@model IEnumerable<nymity.codetest.web.ViewModels.ProductViewModel>
<br />
<h2>Products</h2>
<table id="productsGrid" class="table">
    <tr>
        <th>
            Product
        </th>
        <th>
            Quantity Per Unit
        </th>
        <th>
            Unit Price
        </th>
        <th>
            Units in Stock
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td></td>
        </tr>
    }
</table>
